h2 {
  text-align: center;
}
#showing {
  display: none;
}
#showing-d {
  display: none;

}
header {
  background-image: url("../img/img2.jpg")


}
body{
  text-align: center;
  body{
  font-family: "Lato", "Open Sans", sans-serif;
}
#showing-p {
  display: none;
}
.sect-5{
   background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true");
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 10%;
   width: 100%;
}
.contact {
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true")
  height:200px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
  width: 100%;
}
.form-control{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  width: 400px;
}
