h2 {
  text-align: center;
}
#showing {
  display: none;
}
#showing-d {
  display: none;

}
header {
  background-image: url("../img/img2.jpg")
}
.header{
  padding: 70px;
  color: white;
  margin:34px;
}
body{
  text-align: center;
}
#showing-p {
  display: none;
}
.services {
  background-image: url("../img/img3.jpg");
  color: #fff;
  padding: 100px;

}
.contact {
  background-image: url("../img/img1.jpg");
  height: 400px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.form-control{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  width: 400px;
}
